body {
  border-top: 5px solid #e54d26;
}

.dh-logo {
  position: absolute;
  top: 10px;
  left: 0px;
  width: 200px;
}

.css-link {
  position: absolute;
  top: 10px;
  right: 30px;
  width: 100px;
  text-decoration: none;
  display: none;
  z-index: 10;
  transition: 100ms linear;
}

.css-link:hover {
  transform: scale(1.1);
}

.slides-logo {
  position: absolute;
  top: 15px;
  right: 25px;
  width: 80px;
}

.reveal h1, .reveal h2,
.reveal h3, .reveal h4,
.reveal h5, .reveal h6 {
  text-transform: none !important;
}

.reveal .default-color {
  color: #e54d26;
}

.reveal pre {
  box-shadow: none !important;
  background-color: white !important;
}

.reveal code {
  padding: 30px !important;
  line-height: 35px !important;
  overflow: hidden !important;
}

.reveal code.large {
  font-size: 32px !important;
  line-height: 46px !important;
}

.reveal .text-center {
  text-align: center;
}

.reveal .border {
  border: solid 1px black;
}

.reveal .b-right {
  border-right: solid 1px black;
}

.reveal .b-left {
  border-left: solid 1px black;
}

.reveal .b-bottom {
  border-bottom: solid 1px black;
}

.reveal .b-top {
  border-top: solid 1px black;
}

.reveal .bold {
  font-weight: bold;
}

.reveal .m-b-0 {
  margin-bottom: 0;
}

.reveal .p-0 {
  padding: 0 !important;
}

.reveal .m-0 {
  margin: 0 !important;
}
