body {
  border-top: 5px solid #40aae0;
}

.dh-logo {
  position: absolute;
  top: 10px;
  left: 0px;
  width: 200px;
}

.slides-logo {
  position: absolute;
  top: 15px;
  right: 25px;
  width: 80px;
}

.reveal h1, .reveal h2,
.reveal h3, .reveal h4,
.reveal h5, .reveal h6 {
  text-transform: none !important;
}

.reveal .default-color {
  color: #40aae0;
}

.reveal pre {
  box-shadow: none !important;
  background-color: white !important;
}

.reveal code {
  padding: 30px !important; 
  line-height: 35px !important;
  overflow: hidden !important;
}

.reveal code.large {
  font-size: 32px !important;
  line-height: 46px !important;
}

.reveal .text-center {
  text-align: center; 
}