.reveal h1, .reveal h2,
.reveal h3, .reveal h4,
.reveal h5, .reveal h6 {
  text-transform: none !important;
}

.reveal pre {
  width: 100% !important;
  box-shadow: none !important;
  background-color: white !important;
}

.reveal code {
  padding: 30px !important;
  line-height: 35px !important;
  overflow: hidden !important;
}

.reveal code.large {
  font-size: 32px !important;
  line-height: 46px !important;
}

.reveal .text-center {
  text-align: center;
}

.reveal .mb-0 {
  margin-bottom: 0;
}

.reveal .border {
  border: 1px #000 solid;
}

.reveal .b-right {
  border-right: 1px #000 solid;
}

.reveal .shadow {
  text-shadow: 2px 2px 2px black;
}

.reveal .exercise {
  position: relative;
  top: -40px;
  left: 680px;
  width: 100px;
  z-index: 10;
}

.radius-100 {
  border-radius: 50%;
}

.zoom {
  transition: transform 0.4s ease-in;
}

.zoom:hover {
  transform: scale(1.2, 1.2);
}

.digitalhouse-logo {
  position: absolute;
  top: 10px;
  left: 0px;
  width: 200px;
}

.module-logo {
  position: absolute;
  top: 15px;
  right: 25px;
  width: 80px;
}
